version: "3.9"

services:
  # -------------------
  # Zookeeper
  # -------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - voice-net

  # -------------------
  # Kafka
  # -------------------
  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
    networks:
      - voice-net

  # -------------------
  # MongoDB (LOCAL)
  # -------------------
  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - voice-net

  # -------------------
  # Redis
  # -------------------
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - voice-net

  # -------------------
  # NestJS Gateway
  # -------------------
  gateway:
    build: ./gateway
    container_name: api-gateway
    environment:
      MONGO_URI: "mongodb://mongo:27017/voice-reader"
      REDIS_HOST: "redis"
      KAFKA_BROKER: "kafka:9092"
    depends_on:
      - mongo
      - redis
      - kafka
    ports:
      - "4000:4000"
    networks:
      - voice-net

  # -------------------
  # Voice Service (Nest)
  # -------------------
  voice-service:
    build: ./voice-service
    container_name: voice-service
    environment:
      MONGO_URI: "mongodb://mongo:27017/voice-reader"
      REDIS_HOST: "redis"
      KAFKA_BROKER: "kafka:9092"
    depends_on:
      - mongo
      - redis
      - kafka
    networks:
      - voice-net

  # -------------------
  # ML Service (Python)
  # -------------------
  ml-service:
    build: ./ml-service
    container_name: ml-service
    environment:
      KAFKA_BROKER: "kafka:9092"
    depends_on:
      - kafka
    networks:
      - voice-net

volumes:
  mongo_data:

networks:
  voice-net:
    driver: bridge
